<header class="header-site" role="banner">
    <div class="content">


        <h1>

        
            <span class="site-title">Treinamento <br />
            <span class="destak-gray">Magento</span><span style="font-size: 0.2em">©</span></span>
            <span class="site-description">
                
                <span class="destak-gray">Capacite</span> seu time de <span class="destak-gray">TI</span> e de <span class="destak-gray">Negócios</span> na plataforma de e-commerce mais utilizada no mundo

            </span>
        </h1>
        
        <div class="icons-home"> 

        <a class="btn-getlead" href="http://www.ig.com.br">
            Entrar em Contato

        </a>

        </div>

    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
    {% include menu-search.html %}
</header>
