<header class="header-site" role="banner">
    <div class="content">


        <h1>

        
            <span class="site-title">Treinamento <br />
            <span class="destak-gray">Magento</span><span style="font-size: 0.2em">©</span></span>
            <span class="site-description">
                
                <span class="destak-gray">Capacite</span> seu time de <span class="destak-gray">TI</span> e de <span class="destak-gray">Negócios</span> na plataforma de e-commerce mais utilizada no mundo

            </span>
        </h1>
        
        <div class="icons-home"> 

        <a class="typeform-share link btn-getlead" href="https://marcelolinhares.typeform.com/to/xjXoxc" data-mode="1" target="_blank">Entre em contato</a>

        </div>

    </div>
    <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
    {% include menu-search.html %}
</header>





<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
