<section class="post-content section-customer" style=""><h2>Clientes</h2>

<p class="show-customer">
<a href="http://www.wtennis.com.br/" title="E-commerce da World Tennis - Treinamos o time de Magento da World Tennis">
<img 
 src="{{ "/assets/img/customers/logo-world-tennis.png" | prepend: site.baseurl }}
" alt="World Tennis" />
</a>
</p>

<p class="show-customer">
<a href="www.arkpad.com.br/" title="E-commerce da Arkpad - Treinamos o time de Magento da Arkpad">
<img 
 src="{{ "/assets/img/customers/logo-arkpad.png" | prepend: site.baseurl }}
" alt="Arkpad" />
</a>
</p>

<p class="show-customer">
<a href="http://www.wtennis.com.br/" title="Livraria da Imprensa Oficial de SP - Treinamento do time de negócios para trabalhar com Magento">
<img 
 src="{{ "/assets/img/customers/logo-io.png" | prepend: site.baseurl }}
" alt="Livraria da Imprensa Oficial de SP" />
</a>
</p>

</section>
