size(width = 30, height = 30)
    width width px
    height height px

.icons-home
    text-align center
    a
        display inline-block
        margin rem(2px)
        border-radius 15px
        border rem(2px) solid sec
        line-height 0
        transition all .7s
        .icon
            fill sec
            size(18,18)
            +above(cut)
                size()
        &:hover
            background sec
            .icon
                fill main

    
.btn-getlead
    color #fff
    font-family 'Open Sans',sans-serif
    padding 30px 40px
    text-transform uppercase
    text-decoration none
    &:hover
        color main
.down
    position absolute
    bottom 50px
    width 100%
    display block
    text-align center
    .icon
        align(both)
        size(100,100)
        fill sec
        animation pulse 1.3s infinite